@model TravelGuide.Areas.Blog.ViewModels.StoryDetailsViewModel

@{
    ViewBag.Title = "Details";
}
<div class="row discover-heading">
    <img src="~/App_Themes/Blog/stories-cover.png" class="img-responsive" alt="heading" />
</div>
<div class="container stories-details-container">
    <div class="col-md-4 story-aside">
        <img src="@Model.ImageUrl" data-toggle="modal" data-target="#details-photo" class="img-responsive img-thumbnail cursor-pointer" alt="@Model.RelatedDestination" />
        <div class="like-comment-section">
            @if (!this.User.Identity.IsAuthenticated)
            {
                <div class="text-center">
                    <button class="btn btn-success btn-black btn-likes disabled">Likes (@Model.Likes.Count())</button>
                </div>
            }
            else
            {
                <div>
                    <div class="col-md-6 button-div text-center" id="like-btn-panel">
                        @if (Model.IsStoryLiked)
                        {
                            @Html.Partial("_UnlikeButtonStoryPartial", Model);
                        }
                        else
                        {
                            @Html.Partial("_LikeButtonStoryPartial", Model)
                        }
                    </div>
                    <div class="col-md-6 button-div text-center">
                        <button class="btn btn-success btn-black btn-add-comment"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div id="comment-box" class="comment-box-stories">
            @Html.Partial("_StoryCommentBoxPartial", Model)
        </div>
    </div>
    <div class="col-md-8">
        <div>
            <h4 class="h4-stories">@Model.Title</h4>
            <h5>@Model.RelatedDestination</h5>
            <h6 class="italic small">Author: @Model.Author.UserName</h6>
            <h6 class="italic small">Posted On: @Model.CreatedOn</h6>
            <hr />
            <p class="story-content">@Model.Content</p>
            <hr />
        </div>
        @if (this.User.IsInRole("admin") || (this.User.Identity.IsAuthenticated && Model.CurrentUser.Id == Model.Author.Id))
        {
            <div class="text-right">
                @Html.ActionLink("Edit", "EditStory", new { storyId = Model.Id }, new { @class = "btn btn-black" })
                @using (Html.BeginForm("DeleteStory", "Stories", new { storyId = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this article?')" class="btn btn-black" />
                }
            </div>
        }
    </div>
    <hr />
</div>

<div class="modal fade modal-close" id="details-photo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="glyphicon glyphicon-remove white-text icon-close" data-dismiss="modal"></span>
            <div class="modal-body">
                <img src="@Model.ImageUrl" id="details-img-modal" class="img-responsive modal-img-articles" alt="@Model.RelatedDestination">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/story-details")
}
