@model TravelGuide.Areas.Blog.ViewModels.GalleryListViewModel

@{
    ViewBag.Title = "_GalleryListPartial";
}

@if (Model.Images.Count() == 0)
{
    <div class="row">
        <h5 class="text-center">No results found... Try something else!</h5>
    </div>
}
else
{
    <div class="row">
        @foreach (var image in Model.Images)
        {
            <div class="col-md-3 img-column">
                <a data-toggle="modal" onclick="populateModal('image-details-@image.Id')" data-target="#image-details">
                    <div class="gallery-item tooltipped" data-position="top" data-delay="50" data-tooltip="@image.Title"
                         style="background-image: url('@image.ImageUrl');">
                        <div class="image-info text-right">
                            <div class="col-md-3 col-md-offset-6 text-right"><span class="glyphicon glyphicon-thumbs-up"></span> <span id="likes-count-@image.Id">@image.LikesCount</span></div>
                            <div class="col-md-3 text-center"><span class="glyphicon glyphicon-comment"></span> <span id="comments-count-@image.Id">@image.CommentsCount</span></div>
                        </div>
                    </div>
                </a>
            </div>
            using (Ajax.BeginForm("PopulateModal", new { imageId = image.Id },
                 new AjaxOptions()
                 {
                     InsertionMode = InsertionMode.Replace,
                     LoadingElementId = "image-loader",
                     HttpMethod = "GET",
                     UpdateTargetId = "image-details",
                     OnSuccess = "rebindCommentEvent"
                 }))
            {
                <input type="submit" id="image-details-@image.Id" style="display: none;" />
            }
        }
    </div>

    <div class="row text-center gallery-pager">
        @Html.Partial("~/Views/Shared/_PagerPartial.cshtml", Model)
    </div>

    <div class="image-details">
        <div class="modal fade modal-close" id="image-details" role="dialog">            
        </div>
    </div>
}

<div id="image-loader" class="preloader-wrapper big active" style="display:none;">
    <div class="spinner-layer">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>