@model TravelGuide.Areas.Blog.ViewModels.GalleryItemViewModel

@foreach (var comment in Model.Comments)
{
    <div class="card card-comment container-fluid">
        <div class="col-md-2 details-profile-pic-comment">
            <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-256.png" alt="profile-pic" class="img-responsive" />
        </div>
        <div class="col-md-10">
            <span class="username-panel">@comment.User.UserName</span><span class="date-panel"> @comment.CreatedOn</span>
            <p>@comment.Content</p>
        </div>
    </div>
}
<div class="card card-comment container-fluid">
    <div class="col-md-2 details-profile-pic-comment">
        <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/profle-256.png" alt="profile-pic" class="img-responsive" />
    </div>
    <div class="col-md-10">
        @using (Ajax.BeginForm("Comment", new { imageId = Model.Id },
                new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = Model.Id.ToString(),
                    HttpMethod = "POST",
                    OnSuccess = "submitComment"
                }))
        {
            <p class="username-panel">Аз съм на кон</p>
            <div class="row row-little-margin">
                @Html.TextAreaFor(m => m.NewCommentContent, new { rows = 2, @class = "form-control comment-box-textarea", placeholder = "Type your comment here..." })
                @Html.ValidationMessageFor(m => m.NewCommentContent)
            </div>
            <div class="row text-right row-little-margin" id="btn-submit-comment">
                <input type="submit" value="Submit" class="btn-sm-for-real white black-text" />
            </div>
        }
    </div>
</div>