@model IEnumerable<TravelGuide.Areas.Blog.ViewModels.GalleryListViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="row gallery-cover-container">
    <img src="~/App_Themes/Blog/gallery-cover.png" alt="gallery-cover" class="img-responsive" />
</div>
<div class="container gallery-container">
    <div class="row">

        <div class="row text-right button-row">
            @Html.ActionLink("Add new Photo", "Create", null, new { @class = "btn btn-success" })
        </div>

        <div class="row">
            @foreach (var image in Model)
            {
                <div class="col-md-3">
                    <a href="#">
                        <div class="gallery-item" style="background-image: url('@image.ImageUrl');">
                            @*<img src="@image.ImageUrl" alt="@image.Title" class="gallery-item" />*@
                            <div class="image-info text-right">
                                <div class="col-md-3 col-md-offset-6 text-right"><span class="glyphicon glyphicon-thumbs-up"></span> @image.LikesCount</div>
                                <div class="col-md-3 text-center"><span class="glyphicon glyphicon-comment"></span> @image.CommentsCount</div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="row text-center gallery-pager">

    </div>
</div>
