@model TravelGuide.Areas.Blog.ViewModels.GalleryListViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row gallery-cover-container">
    <img src="~/App_Themes/Blog/gallery-cover.png" alt="gallery-cover" class="img-responsive" />
</div>
<div class="container gallery-container">
    <div class="row">
        <div class="row text-right button-row">
            <div class="col-md-4 col-md-offset-4 text-center">
                @using (Ajax.BeginForm("Search", null,
                   new AjaxOptions
                   {
                       UpdateTargetId = "gallery-items-container",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "POST"
                   }, new { id = "searchForm" }))
                {
                    @Html.Label("Search by photo title:", new { @for = "query", @class = "search-label-discover" })
                    @Html.TextBox("query", null, new { oninput = "changed()" })
                    <input type="submit" oninput="onInput()" style="display: none" />
                }
            </div>
            <div class="col-md-4">
                @Html.ActionLink("Add new Photo", "Create", null, new { @class = "btn btn-success" })
            </div>
        </div>
        <div id="gallery-items-container">
            @Html.Partial("_GalleryListPartial", Model)
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryajax")
    <script>
        $(document).ready(function () {
            $('.tooltipped').tooltip({ delay: 50 });
        });

        function changed() {
            $('#searchForm').submit();
        }
    </script>
}