@model TravelGuide.Areas.Store.ViewModels.CartViewModel

@if (Model.StoreItems == null || Model.StoreItems.Count() == 0)
{
    <div class="row text-center">
        <h5>Your cart is empty...</h5>
    </div>
}
else
{
    <div>
        <table class="table table-hover table-responsive table-striped table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <td class="strong">Item Name</td>
                    <td class="strong">Brand</td>
                    <td class="strong">Related Destination</td>
                    <td class="strong">Price</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StoreItems)
                {
                    <tr>
                        <td class="text-center"><img src="@item.ImageUrl" class="img-cart" alt="@item.ItemName" /></td>
                        <td class="strong">@item.ItemName</td>
                        <td>@item.Brand</td>
                        <td>@item.DestinationFor</td>
                        <td class="strong">@item.Price BGN</td>
                        <td class="text-center">@Html.ActionLink("Details", "Details", "StoreItems", new { Area = "Store", id = item.Id }, new { @class = "btn btn-success" })</td>
                        <td class="text-center">
                            @using (Ajax.BeginForm("RemoveItem", "Cart", new { Area = "Store", id = item.Id },
                                new AjaxOptions
                                {
                                    Confirm = "Are you sure?",
                                    UpdateTargetId = "cart-items-container",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST"
                                }, new { id = "some-id" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Remove" class="btn btn-success black" />

                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="row text-right checkout-box" id="CheckoutPanel" runat="server">
            <p><span class="total-price">@Model.Total</span></p>
            <p class="btn-checkout-trigger"><input type="button" class="btn btn-success btn-lg" value="Check Out" data-toggle="modal" data-target="#check-out"></p>
        </div>
    </div>
}

<div class="modal fade" id="check-out" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>Confirm your data before checking out</h5>
            </div>
            @using (Ajax.BeginForm("CheckOut", new AjaxOptions()
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "cart-items-container",
                OnSuccess = "dismissModal"
            }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body personal-info-container">
                    <div class="input-field">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.EditorFor(m => m.FirstName)
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-field">
                        @Html.LabelFor(m => m.LastName)
                        @Html.EditorFor(m => m.LastName)
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-field">
                        @Html.LabelFor(m => m.PhoneNumber)
                        @Html.EditorFor(m => m.PhoneNumber)
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="input-field">
                        @Html.LabelFor(m => m.Address)
                        @Html.EditorFor(m => m.Address)
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                    <br />
                </div>
                <div class="modal-footer footer-comment">
                    <input type="submit" value="Check Out" class="btn btn-success" />
                    <button data-dismiss="modal" id="btn-dismiss" class="btn btn-success black">Discard</button>
                </div>
            }
        </div>
    </div>
</div>
