@model TravelGuide.Areas.Store.ViewModels.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<div class="container cart-container">
    <h3 class="text-center"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</h3>
    <hr />
   <div id="cart-items-container">
       @Html.Partial("_CartItemsPartial", Model)
   </div>  
</div>
<div class="modal fade" id="check-out" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>Confirm your data before checking out</h5>
            </div>
            <div class="modal-body">
                <div class="input-field">
                    @Html.LabelFor(m => m.FirstName)
                    @Html.EditorFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div> 
                <br />
                <div class="input-field">
                    @Html.LabelFor(m => m.LastName)
                    @Html.EditorFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <br />
                <div class="input-field">
                    @Html.LabelFor(m => m.PhoneNumber)
                    @Html.EditorFor(m => m.PhoneNumber)
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                <br />
                <div class="input-field">
                    @Html.LabelFor(m => m.Address)
                    @Html.EditorFor(m => m.Address)
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
                <br />
            </div>
            <div class="modal-footer footer-comment">
                <asp:Button Text="Submit" OnClick="BtnCheckOut_Click" CssClass="btn btn-success btn-gallery" ID="BtnSubmitData" runat="server" />
                <asp:Button Text="Discard" CssClass="btn btn-danger btn-gallery" data-dismiss="modal" runat="server" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}