@model TravelGuide.Areas.Store.ViewModels.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<div class="container cart-container">
    <h3 class="text-center"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</h3>
    <hr />
    <div id="cart-items-container">
        @Html.Partial("_CartItemsPartial", Model)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/cart")
}