@model TravelGuide.ViewModels.ArticlesViewModels.ArticleDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container destinations-details-container">
    <div class="row">
        <img class="cover-picture" src="@Model.CoverImageUrl" alt="@Model.City" />
    </div>
    <h3 class="text-center">@Model.City, @Model.Country</h3>
    <hr />
    <div class="row text-center">
        <ul class="list-inline list-content-topics">
            <li><a href="#about"><span class="glyphicon glyphicon-globe"></span><span> </span>About</a></li>
            <li><a href="#must-see"><span class="glyphicon glyphicon-camera"></span><span> </span>Must-See Places</a></li>
            <li><a href="#tips"><span class="glyphicon glyphicon-euro"></span><span> </span>Budget Tips</a></li>
            <li><a href="#accomodation"><span class="glyphicon glyphicon-home"></span><span> </span>Accomodation</a></li>
            <li><a href="#comments"><span class="glyphicon glyphicon-comment"></span><span> </span>Comments</a></li>
        </ul>
        <hr />
    </div>
    <div class="row article-text">
        <div class="col-md-4 article-aside">
            <div class="row no-margin">
                <img src="@Model.PrimaryImageUrl" data-toggle="modal" data-target="#details-photo"
                     class="thumb-photo thumbnail thumb-photo-main img-responsive" alt="Alternate Text" />
            </div>
            <div class="row no-margin">
                <hr />
                @if (Model.StoreItems == null || Model.StoreItems.Count() == 0)
                {
                    <p class="text-center">No related items from our store...</p>
                }
                else
                {
                    <p class="text-center">From our store</p>
                    <hr />
                    foreach (var item in Model.StoreItems)
                    {
                        <a href="/store/storeitems/details/@item.Id">
                            <div class="card related-item-placeholder">
                                <div class="row no-margin">
                                    <div class="col-md-2 img-placeholder">
                                        <img src="@item.ImageUrl" alt="@item.ItemName" class="related-item-img" />
                                    </div>
                                    <div class="col-md-10">
                                        <p class="strong">@item.ItemName</p>
                                        <p>@item.Brand</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
        <p id="about"><span class="glyphicon glyphicon-globe"></span> @Model.Title</p>
        @Model.ContentMain
    </div>
    <hr />
    <div class="row article-text">
        <img src="@Model.SecondImageUrl" data-toggle="modal" data-target="#details-photo"
             class="thumb-photo thumbnail thumb-photo-right img-responsive" alt="Alternate Text" />
        <p id="must-see"><span class="glyphicon glyphicon-camera"></span> The places you absolutely must visit in @Model.City</p>
        @Model.ContentMustSee
    </div>
    <hr />
    <div class="row article-text">
        <p id="tips"><span class="glyphicon glyphicon-euro"></span> Our assessment on the budget needed...</p>
        @Model.ContentBudgetTips
    </div>
    <hr />
    <div class="row article-text">
        <img src="@Model.ThirdImageUrl" data-toggle="modal" data-target="#details-photo"
             class="thumb-photo thumbnail thumb-photo-left img-responsive" alt="Alternate Text" />
        <p id="accomodation"><span class="glyphicon glyphicon-home"></span> Finally, a few tips on the accomodation in @Model.City</p>
        @Model.ContentAccomodation
    </div>
    <hr />
    @if (this.User.IsInRole("admin"))
    {
        <div class="text-right">
            @Html.ActionLink("Edit", "EditArticle", new { Model.Id }, new { @class = "btn btn-default black" })
            @using (Html.BeginForm("DeleteArticle", "Articles", new { id = Model.Id }, FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()
                <input value="Delete" type="submit" class="btn btn-default black" onclick="return confirm('Are you sure you want to delete this article?')" />
            }
            <asp:HyperLink Text="Edit" NavigateUrl="" ID="EditBtnLink" CssClass="btn btn-warning black" runat="server" />
            <asp:Button Text="Delete" CssClass="btn btn-danger" ID="BtnDeleteArticle" OnClick="BtnDeleteArticle_Click" runat="server" />
            <hr />
        </div>
    }
    <div id="comments" class="row comment-panel-dest">
        <div class="row">
            <div class="col-md-8">
                <h4 class="text-center">
                    <span class="glyphicon glyphicon-comment icon-article"></span> Comments
                </h4>
                <hr />
                @if (Model.Comments == null || Model.Comments.Count == 0)
                {
                    <div class="row">
                        <p class="text-center">Be the first to comment...</p>
                    </div>
                }
                else
                {

                }
            </div>
            <div class="col-md-4">
                <h4 class="text-center"><span class="glyphicon glyphicon-transfer icon-article"></span> Related</h4>
                <hr />
                <a href="/store/storeitems?query=@Model.City">
                    <div class="related-stuff-container">
                        <img src="~/App_Themes/Articles/store-link.png" class="img-responsive related-item" alt="store" />
                    </div>
                </a>
                <a href="/blog/gallery?query=@Model.City">
                    <div class="related-stuff-container">
                        <img src="~/App_Themes/Articles/gallery-link.png" class="img-responsive related-item" alt="store" />
                    </div>
                </a>
                <a href="/blog/stories?query=@Model.City">
                    <div class="related-stuff-container">
                        <img src="~/App_Themes/Articles/stories-link.png" class="img-responsive related-item" alt="store" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('.thumb-photo').on('click', (e) => {
            $('#details-img-modal').attr('src', $(e.target).attr('src'));
        })
    </script>
}

@*photos modal*@
<div class="modal fade modal-close" id="details-photo" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="glyphicon glyphicon-remove white-text icon-close" data-dismiss="modal"></span>
            <div class="modal-body">
                <img src="" id="details-img-modal" class="img-responsive modal-img-articles" alt="picture.title">
            </div>
        </div>
    </div>
</div>
