@model TravelGuide.Areas.Store.ViewModels.StoreListViewModel

@if (Model.Items.Count() == 0)
{
    <div class="row text-center">
        <h5>No products were found... Try something else!</h5>
    </div>
}
else
{
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-2">
                <a class="item-link" href="/store/storeitems/details/@item.Id">
                    <div class="card store-item">
                        <div class="card-content picture-placeholder">
                            <img src="@item.ImageUrl" alt="@item.ItemName" class="img-responsive store-item-image" />
                        </div>
                        <div class="card-content store-item-footer text-center">
                            <p class="item-title">@item.ItemName</p>
                            <i>
                                @item.Brand
                            </i>
                            <br />
                            @item.Price BGN
                            <br />
                            @if (@item.InStock)
                            {
                                @: In Stock
                        }
                            else
                            {
                                @: Depleted
                        }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

    <div class="text-center">
        @Html.Partial("~/Views/Shared/_PagerPartial.cshtml", Model)
    </div>
}