@model TravelGuide.Models.Store.StoreItem

@{
    ViewBag.Title = "Details";
}

<div class="row gallery-cover-container">
    <img src="~/App_Themes/Store/store-cover.png" alt="maps-shop" class="img-responsive" />
</div>

<div class="container store-container">
    <hr class="hr" />
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.ImageUrl" class="item-details-image" alt="@Model.ItemName" />
        </div>
        <div class="col-md-4 item-second-col">
            <h4>@Model.ItemName</h4>
            <p><i>@Model.Brand</i></p>
            <p class="item-description">@Model.Description</p>
        </div>
        <div class="col-md-4">
            <h4>@Model.Price BGN</h4>
            <div id="add-to-cart-section">
                @Html.Partial("_AddToCartPartial", Model)
            </div>
            @if (this.User.IsInRole("admin"))
            {
                <div id="admin-options-store" class="admin-options-store">
                    <button class="btn btn-success black btn-block btn-admin" data-toggle="modal" data-target="#status-box">Change Status</button>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success black btn-block btn-admin" })
                    @using (Html.BeginForm("Delete", "StoreItems", new { id = Model.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Delete" class="btn btn-success black btn-block btn-admin" onclick="return confirm('Are you sure you want to delete this item?')" />
                    }
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="status-box" role="dialog">
    <div class="modal-dialog status-box" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>Change the status of the product</h5>
            </div>
            @using (Ajax.BeginForm("ChangeStatus", new { id = Model.Id },
                 new AjaxOptions
                 {
                     UpdateTargetId = "add-to-cart-section",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "POST",
                     OnSuccess = "dismissModal"
                 }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body status-box-content">
                    @Html.DropDownList("isInStock", new SelectList(new List<string>() { "In Stock", "Depleted" }), new { @class = "form-control" })
                </div>
                <div class="modal-footer footer-comment">
                    <input value="Submit" type="submit" class="btn btn-success" />
                    <input value="Discard" type="button" class="btn btn-success black" data-dismiss="modal" />
                    <input type="button" id="dismiss-modal" style="display:none;" data-dismiss="modal" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/store-details")
}