@model IEnumerable<TravelGuide.ViewModels.AdminPageViewModels.UserViewModel>

@{
    ViewBag.Title = "Admin Page";
}

<div class="container admin-container">
    <h3 class="text-center">Admin Panel</h3>
    <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#users" id="users-tab" class="tab-admin" role="tab" data-toggle="tab" aria-controls="users" aria-expanded="true">Users</a>
            </li>
            <li role="presentation" class="">
                <a href="#requests" role="tab" class="tab-admin" id="requests-tab" data-toggle="tab" aria-controls="requests" aria-expanded="false">Orders</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade active in" role="tabpanel" id="users" aria-labelledby="users-tab">
                @Html.Partial("_UsersManagementPartial", Model)
            </div>

            <div class="tab-pane fade" role="tabpanel" id="requests" aria-labelledby="requests-tab">
                @Html.Partial("_RequestsManagementPartial")
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="users-edit-box" role="dialog">
</div>

<div id="image-loader" class="preloader-wrapper big active" style="display:none;">
    <div class="spinner-layer">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
    <script>
        $('#users-edit-box').on('hidden.bs.modal', () => {
            $('#users-edit-box').html('');
        })

        function openModalUsers() {
            $('#activate-modal-users').click();
        }

        function userEdited() {
            notify('success', 'User edited successfully!');

            $('#users-dismiss-modal').click();
        }

        function bindUsersEditEvents() {
            $('#btn-submit-user-changes').on('click', () => {
                $('#btn-submit-user-changes').addClass('disabled');

                setTimeout(() => {
                    $('#btn-submit-user-changes').removeClass('disabled');
                }, 3000);
            });
        }
    </script>
}