@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (this.User.IsInRole("admin"))
            {
                <li>@Html.ActionLink("Admin", "Index", "Admin", new { Area = "" }, htmlAttributes: new { id = "btn-cart", @class = "waves-effect waves-light" })</li>
            }
            <li>@Html.ActionLink("Cart", "Index", "Cart", new { Area = "Store" }, htmlAttributes: new { id = "btn-cart", @class = "waves-effect waves-light" })</li>
            <li>
                @Html.ActionLink("Profile", "Index", "Manage", new { Area = "" }, htmlAttributes: new { title = "Manage", @class = "waves-effect waves-light" })
            </li>
            <li>
                @Html.ActionLink("Sign Out", "LogOff", "Account", new { Area = "" }, new { title = "Sign Out", @class = "waves-effect waves-light" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sing In", "Login", "Account", new { Area = "" }, htmlAttributes: new { id = "loginLink", @class = "waves-effect waves-light" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", new { Area = "" }, htmlAttributes: new { id = "registerLink", @class = "waves-effect waves-light" })</li>
    </ul>
}
